# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Model Artifacts
model.onnx
model.xml
model.bin
model.mapping
model.blob
model_sim.onnx
model.pt
model.onnx.data
*.pt
*.blob
*.onnx

# System
97-myriad-usbboot.rules
